/** Hex Codes **/
/* light-blue = #00BBF9
   dark blue = #2A4494
   red = #FF1B1C
   pink = #FFC6D9
   green = #2CF6B3
   light-grey: #efe9f4
*/

#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(239, 233, 244);
  border-radius: 10px;
  border: 3px solid #2A4494;
}

#image-attribution {
  background-color: #efe9f4;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  text-align: center;
  font-size: .8em;
}

/** Start Screen styles **/
.title, .title-trivia-page  {
  color: #2A4494;
  margin-bottom: 5px;
}

.title-trivia-page {
  margin-top: 5px;
  margin-bottom: 30px;
  cursor: pointer;
}

.title-trivia-page:hover {
  color: #00BBF9;
}

.description {
  color: #2A4494;
  margin-top: 5px;
  margin-bottom: 50px;
}

button {
  border-radius: 8px;
  border: 3px solid #2A4494;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2CF6B3;
  color: #2A4494;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover, button:focus {
  border: 3px solid #00BBF9;
}


/** Trivia Page Styles **/

.question-text {
  font-size: 1.4em;
  color: #2A4494;
  font-weight: 500;
  text-align: left;
}
.answer-option {
  border: 3px solid #2A4494;
  background-color: transparent;
  margin: 5px;
}
.answer-option:hover,
.answer-option:focus {
  border: 3px solid #00BBF9;
}

.answer-container {
  margin-bottom: 1.5em;
  text-align: left;
}

.check-answers {
  font-size: 1.2em;
  background-color: #2A4494;
  color: #efe9f4;
  margin-top: 20px;
}

p.results {
  font-size: 1.6em;
  color: #2A4494;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 10px;
}

@media (max-width: 1060px) {
  .answer-option {
    display: block;
  }
}

